<div class="row">
    <form data-hook="create-folder" style="display: none">
        <input type="text" class="form-control pull-left" name="folder" style="width: 70%">&nbsp
        <button class="btn btn-info" type="submit" title="Создать папку">
            <span class="glyphicon glyphicon-folder-close"></span>
        </button>
    </form>
    <div class="col-md-12">
        <input type="file" multiple="multiple" style="display:none" data-hook="file-upload">
        <button class="btn btn-info" data-hook="file-upload-trigger" title="Загрузить файлы">
            <span class="glyphicon glyphicon-cloud-upload"></span>
        </button>
        <button class="btn btn-danger" data-hook="delete-selected" disabled title="Удалить">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
    <div style="display: none">
        <progress max="100" value="0" data-hook="memory-progress" style="width: 100%"></progress>
        <div class="text-center">
            <span data-hook="memory-occupied"></span> /
            <span data-hook="memory-available"></span>
        </div>
    </div>
</div>