<div class="container-fluid">
    <div class="form-group">
        <label>Прикрепленные файлы</label>
    </div>
    <div class="row top-panel1">
        <div class="col-md-8" data-hook="add-link"></div>
        <div class="col-md-4" data-hook="control-panel"></div>
    </div>
    <div class="row top-panel2" data-hook="drop-panel"></div>
    <div class="row">
        <div class="col-md-12" data-hook="page-container"></div>
    </div>

    <!-- don't using -->
    <div class="row pull-right" style="display: none">
        <div class="col-md-2" data-hook="breadcrumbs"></div>
    </div>
</div>